<a class="log" href="/">HOME</a>
{{#if verified}}
    <a href="/logout">Logout</a> {{user.username}}
{{/if}}
{{#if owner}}
    <form action="/post/{{id}}/delete" method="POST">
        <input type="submit" class="submit" value="delete this post" />
    </form>
    <a class="log" href="/updatearticle/{{id}}"> update your article</a>
{{/if}}

{{#each posts}}
    <h1>Title:{{title}}</h1>
    <h2>Author:{{name}}</h2>
    <h3>Article:{{article}}</h3>
    <h4>{{created_at}}</h4>
{{/each}}
<h5>post id: {{id}}</h5>
<h5>user id: {{user.id}}</h5>


{{#if verified}}
    <form action="/postcomment/{{id}}/{{user.id}}" method="POST">
        <input name="commentbody" placeholder="Write a comment">
        <input type="submit" class="submit" value="Post a Comment" />
    </form>
{{/if}}

{{#each comments}}
    <h5>{{commentbody}}</h5>
    <h6>{{created_at}}</h6>
    {{#if commentator}}
        <form action="/comment/{{id}}/delete/{{post_id}}" method="POST">
            <input type="submit" class="submit" value="delete my comment" />
        </form>
        <form action="/comment/{{id}}/update/{{post_id}}" method="POST">
            <input name="commentbody" value="{{commentbody}}">
            <input type="submit" class="submit" value="update my comments" />
        </form>
    {{/if}}
{{/each}}
