
<a  class="home" href="/">HOME</a>
{{#if verified}}
    <div class="log">
        <a href="/logout">Logout</a> {{user.name}}
    </div>
    <a href="/post">Post an article</a>
{{/if}}

{{#unless verified}}
    <div class="log">
        <a href="/login">Log in to post</a>
    </div>
{{/unless}}
{{#if owner}}
    <a class="del" href="/updatearticle/{{id}}/{{user.id}}"> update or delete this article</a>
{{/if}}
<div class="post-box">
    {{#each posts}}
        <h1 class="title">{{title}}</h1>
        <h3>Author:{{name}}</h3>
        <h4>{{article}}</h4>
        <h4>{{created_at}}</h4>
    {{/each}}
</div>


{{#if verified}}
    <form action="/postcomment/{{id}}/{{user.id}}" method="POST">
      <textarea name="commentbody" rows="3" cols="40" minlength=3 placeholder="Write a comment"></textarea>
        <input type="submit" class="submit" value="Post your Comment" />
    </form>
{{/if}}

{{#each comments}}
<div class="comment">
<h6>{{name}} wrote :</h6>
    <h4>{{commentbody}}</h4>
    <h6>{{created_at}}</h6>
    {{#if commentator}}
    <a class="modify" href="/modifycomment/{{id}}/{{user_id}}"> Update or delete this comment</a>
    {{/if}}
  </div>
{{/each}}
